/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */

/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
    display: none;
}

/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
    display: none;
}

/** {
    box-sizing: border-box;
}*/

html {
    background-color: skyblue;
}

.wrap-all {
    max-width: 70%;
    margin: 0 auto;
    background-color: aliceblue;
}

.region-flash img {
    width: 100%;
}

.site-logo {
    display: none;
}

.region-header {
    background-color: beige;
}

.my-navbar {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
}

.my-navbar li {
    float: left;
}

.my-navbar li a {
    padding: 0.5em;
    margin: 0.25em;
}

/*.figure {
    float: left;
    width: 70%;
}*/

.figure.right {
    float: right;
}

.region-main {
    display: inline;
    float: left;
    width: 75%;
    margin-left: 10%;
}

.region-main.has-sidebar-right {
    display: inline;
    float: left;
    width: 60%;
    margin-left: 5%;
}

.region-sidebar-left, .region-sidebar-right {
    display: inline;
    float: left;
    width: 25%;
    margin-left: 2%;
}

.region-main.has-sidebar-left {
    display: inline;
    float: left;
    width: 65.625%;
    margin-right: .52083333%;
    margin-left: 4.6875%;
}

.figure.left {
    float: left;
    margin: 0;
    padding: 0em 0.5em 1em 0.5em;
}

.wrap-sidebar.region-sidebar-left {
    float: left;
    width: 25%;
}

.block {
    clear: both;
}

.author-byline {
    display: block;
    border: 1px solid black;
    padding: 1em 1em 4em;
    margin: 0.5em 15em 0.5em 15em;
}

.region-footer {
    clear: both;
    background-color: beige;
}

.footer-column-wrapper {
    margin-left: 2%;
}

.footer-column {
    width: 33%;
    float: left;
}
.site-footer {
    clear: both;
}

.block.site-footer {
    margin: 0 auto;
    width: 300px;
}
