/**
 * Layout with vgrid.
 */

/**
 * VariablesFDFDE1
 */
@bgColorHeaderFooter: beige;
@bgColorMain: #FCFCEB;

/**
 * General layout
 */

 .row {
     #desinax-vgrid.row();

     //background-color: #0f0;
     margin-bottom: 0px;
 }

 /**
  * Header layout
  */
 .site-logo {
     display: none;
 }

 .region-header {
     background-color: @bgColorHeaderFooter;
 }

 .outer-wrap.outer-wrap-header {
     //max-width: 100%;
     //overflow: auto;
 }

 .inner-wrap {
     #desinax-vgrid.grid(1100px);
 }

 .inner-wrap {
     background-color: @bgColorMain;
 }

 .inner-wrap-header {
 //.inner-wrap-footer
     #desinax-vgrid.grid(100%);
     background-color: @bgColorHeaderFooter;
 }

 .vgrid .inner-wrap {
     @gridImage: "../img/grid_24x30x10-nomargin.png";
     //@gridImage: "../../img/grid_12x60x20-nomargin.png";
     #desinax-vgrid.showGrid(@gridImage, 1100px);

     &.inner-wrap-header {
         #desinax-vgrid.showGrid(@gridImage);
     }
 }

 .region-header-col-1,
 .region-header-col-3 {
     #desinax-vgrid.column(5);
     //width: 20%;
     //float: left;
 }

 .region-header-col-2 {
     #desinax-vgrid.column(14);
     //width: 60%;
     //float: left;
     text-align: center;
 }

 .outer-wrap-flash {
     //padding-bottom: 5px;
 }

 .region-flash {
     #desinax-vgrid.column(@columns);
 }

 .region-breadcrumb {
     #desinax-vgrid.column(@columns);
     #desinax-vgrid.push(1);
     padding-top: 8px;
 }

 /**
  * Main layout
  */
/*.outer-wrap {
    //padding-top: 3px;
    //padding-bottom: 5px;
    //max-width: 70%;
    //margin: 0 auto;
    background-color: aliceblue;
}*/

.figure {
    margin-left: 0em;
}

.figure.right {
    float: right;
    margin-right: 0em;
}

.region-main {
    #desinax-vgrid.column(@columns * 3 / 4);
    #desinax-vgrid.push(3);
    //display: inline;
    //float: left;
    //width: 75%;
    //margin-left: 10%;

    &.has-sidebar {
        #desinax-vgrid.push(0);


        &.has-sidebar-right {
            #desinax-vgrid.column(@columns * 3 / 4 - 2);
            #desinax-vgrid.push(1);
            //width: 50%;
        }

        &.has-sidebar-left {
            #desinax-vgrid.column(@columns * 3 / 4 - 2);
            //width: 50%;
        }

    }
    &.has-sidebar-left.has-sidebar-right {
        #desinax-vgrid.column(@columns * 3 / 4 - 6);
        //width: 50%;
    }
}

.region-sidebar-left,
.region-sidebar-right {
    #desinax-vgrid.column(@columns * 1 / 4);
    #desinax-vgrid.push(1);
    //display: inline;
    //float: left;
    //width: 25%;
    //margin-left: 1%;
}
/*.region-sidebar-right {
    #desinax-vgrid.push(1);
    //width: 20%;
}*/

.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.column(@columns * 1 / 4 - 1);
    #desinax-vgrid.push(1);
    //width: 20%;
}

/**
* Responsive 1, 2, 3
*/
@media screen and (max-width: 1000px) {
    .region-main {
        #desinax-vgrid.column(@columns - 2);
        #desinax-vgrid.push(1);

        &.has-sidebar-left.has-sidebar-right {
            #desinax-vgrid.column(@columns - 2);
            #desinax-vgrid.push(1);

        }
    }

    .region-main.has-sidebar.has-sidebar-left {
        #desinax-vgrid.column(@columns - 1);
        #desinax-vgrid.push(1);
    }

    .region-sidebar-left {
        #desinax-vgrid.column(@columns - 1);
        #desinax-vgrid.push(1);
    }

    .region-sidebar-left.has-sidebar-right,
    .region-sidebar-right.has-sidebar-left {
        #desinax-vgrid.column(@columns - 1);
        #desinax-vgrid.push(1);
    }
}

@media screen and (max-width: 850px) {
    .region-main.has-sidebar-right {
        #desinax-vgrid.column(@columns - 1);
        #desinax-vgrid.push(1);
    }

    .region-sidebar-right {
        #desinax-vgrid.column(@columns - 1);
        #desinax-vgrid.push(1);
    }
}

.previous {
    //float: left;
}

.next {
    float: right;
}

ul {
    list-style-type: none;
    padding-left: 0em;
}

a {
    text-decoration: none;
    color: blue;

    &:visited {
        color: green;
    }
    &:hover {
        color: red;
    }
}

p {
    margin-block-start: 0em;
}

.figure.left {
    float: left;
    //margin: 0;
    //padding: 0em 0.5em 1em 0.5em;
}

.block {
    clear: both;
}

.author-byline {
    display: block;
    #desinax-vgrid.column(@columns * 3 / 4);
    margin-bottom: 24px;
    border: 1px solid black;
    padding: 1em 0em 1em;
}

/**
 * Footer layout
 */
.region-footer {
    clear: both;
    //background-color: @bgColorHeaderFooter;
    //padding-bottom: 5px;
}

.footer-column-wrapper {
    //margin-left: 2%;
}

.footer-column {
    #desinax-vgrid.column(@columns / 3);

    //width: 33%;
    //float: left;
}

@media screen and (max-width: 1000px) {
    .footer-column {
        #desinax-vgrid.column(@columns - 1);
        #desinax-vgrid.push(1);
    }

    .block.site-footer {
        #desinax-vgrid.column(@columns - 1);
        #desinax-vgrid.push(1);
        clear: both;
    }
}

.site-footer {
    #desinax-vgrid.column(@columns);
    #desinax-vgrid.push(8);
    clear: both;
}

.block.site-footer {
    //margin: 0 auto;
    //width: 300px;
}

.region-footer a {
    text-decoration: underline;
}

.outer-wrap-footer,
.inner-wrap-footer {
    background-color: @bgColorHeaderFooter;
}
